telegram:
  token: "YOUR_VALUE_HERE"

llm:
  api-key: "YOUR_VALUE_HERE"

# embedding:
#   api-key: "YOUR_VALUE_HERE"

# tools:
#   email:
#     username: "YOUR_VALUE_HERE"
#     password: "YOUR_VALUE_HERE"
